.formRestablecer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  width: 20rem;
  height: 100%;
  margin-top: 10rem;
  background-color: var(--soft-blue);
}
/* .bg--formReset{
} */
.imgLogo {
  width: 14rem;
  height: 14rem;
}
.p--Restablecer {
  font-family: var(--font-family);
  font-weight: bold;
  font-style: normal;
  font-size: 1.6rem;
  color: #ffffff;
  margin-top: 1rem;
}
.labelCorreo{
  font-family: var(--font-family);
  src: url('@/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  color: var(--light-lavender);
  font-size: 2rem;
}
.btn--Restablacer {
  font-family: var(--font-family);
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: var(--pastel-indigo);
  border-radius: 5px;
  width: 291px;
  height: 53px;
  margin-top: 1rem;
  cursor: pointer;
}