.signup-view {
  & .signup-view__sub-title {
    font-weight: 600;
    color: var(--pastel-indigo);
  }
  & .signup-view__have-account {
    text-align: right;
    color: var(--pastel-indigo);
    font-weight: normal;
    font-size: .8rem;
    & a {
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .signup-view {
    & .signup-view__have-account {
      font-size: 1rem;
    }
    & .signup-title {
      font-size: 2rem;
    }
  }
}