:root {
  --fk-color-border-focus: var(--pastel-indigo);
  --fk-font-family: 'Poppins', sans-serif;
  --fk-max-width-input: 100%;
  --fk-bg-submit: var(--pastel-indigo);
}

.formkit-mdd-label {
  color: var(--gentle-purple);
}

.formkit-mdd-inner {
  background: var(--light-lavender);
}

[data-type="button"] .formkit-input,
[data-type="submit"] .formkit-input {
  width: 100%;
}