:root {
  --pale-pink: #E5D9F2;
  --light-lavender: #F5EFFF;
  --soft-blue: #CDC1FF;
  --gentle-purple: #A594F9;
  --pastel-indigo: #7371FC;
  --black: #000000;
  --font-family: 'Poppins', sans-serif;
}